<footer class="footer-14398" style="margin-top: 140px">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <a href="#" class="footer-site-logo">threads&terrain</a>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit officiis
          corporis optio natus.
        </p>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-2 ml-auto">
        <h3>Shop</h3>
        <ul class="list-unstyled links">
          <li><a href="#">Sell online</a></li>
          <li><a href="#">Features</a></li>
          <li><a href="#">Examples</a></li>
          <li><a href="#">Website editors</a></li>
          <li><a href="#">Online retail</a></li>
        </ul>
      </div>
      <div class="col-md-2 ml-auto">
        <h3>Press</h3>
        <ul class="list-unstyled links">
          <li><a href="#">Events</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Awards</a></li>
          <li><a href="#">Testimonials</a></li>
          <li><a href="#">Online retail</a></li>
        </ul>
      </div>
      <div class="col-md-2 ml-auto">
        <h3>About</h3>
        <ul class="list-unstyled links">
          <li><a href="#">Contact</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Team</a></li>
          <li><a href="#">Career</a></li>
          <li><a href="#">Contacts</a></li>
        </ul>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-1"></div>
      <div class="col-10 pb-4">
        <div class="line"></div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-4 text-md-left">
        <ul class="list-unstyled link-menu nav-left">
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms &amp; Conditions</a></li>
          <li><a href="#">Code of Conduct</a></li>
        </ul>
      </div>
      <div class="col-md-5 text-md-right">
        <ul class="list-unstyled social nav-right">
          <li>
            <a href="#"
              ><span class="icon-twitter"
                ><i class="fa-brands fa-twitter"></i></span
            ></a>
          </li>
          <li>
            <a href="#"><span class="icon-instagram"></span></a>
          </li>
          <li>
            <a href="#"><span class="icon-facebook"></span></a>
          </li>
          <li>
            <a href="#"><span class="icon-pinterest"></span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
