.footer-wrapper {
  background-color: #353849;
  color: #f0f0f0;
  margin-top: 100px;
}

.footer-container {
  padding-bottom: 50px;
  padding-top: 80px;
}

h5 {
  font-weight: 400;
  margin-bottom: 20px;
}

.text-grey {
  color: #a6a6a6;
}

a {
  color: #a6a6a6;
  font-size: 0.96em;

  &:hover {
    color: #b9b9b9;
  }
}

.social-icon {
  margin-right: 5px;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 50%;
}
