.featured {
  height: 250px;
}

.img {
  object-fit: cover;
  width: 100%;
}

.slider-img {
  display: block;
  width: 100%;
}

.hero-container {
  background-image: url("../../assets/images/slider3-op20.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 60%;
  width: 100%;
  height: 600px;
  color: white;
  text-align: center;
  padding-top: 120px;
}

.hero-subtext {
  font-size: 1.4em;
  text-transform: uppercase;
}

.hero-text {
  font-size: 4.5em;
  font-weight: 600;
}

.button-container {
  margin-top: 30px;
}

.hero-button {
  font-size: 1.2em;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: #fcb941;
  color: white;
  text-decoration: none;
  border: none;

  &:hover {
    background-color: #dea238;
  }
}

.brand-container {
  margin-top: 40px;
  text-align: center;
}

.brand-img {
  margin-left: 30px;
  margin-right: 30px;
  max-width: 130px;
}

.smaller {
  max-width: 100px;
}

.xsmall {
  max-width: 80px;
}

.spacer {
  height: 5px;
}
