<div class="hero-container">
  <div class="container">
    <div class="hero-subtext">Premium outdoor gear and clothing</div>
    <div class="hero-text">New Winter 2023 Collection</div>
    <div class="button-container">
      <a class="hero-button" routerLink="/shop">Discover Now</a>
    </div>
  </div>
</div>

<div class="brand-container">
  <h5 class="mb-4">Featured Brands</h5>
  <div class="spacer"></div>
  <img src="../../assets/images/brand-1.png" class="brand-img smaller" />
  <img src="../../assets/images/brand-3.png" class="brand-img smaller" />
  <img src="../../assets/images/brand-2.png" class="brand-img" />

  <img src="../../assets/images/brand-4.png" class="brand-img smaller" />
  <img src="../../assets/images/brand-5.png" class="brand-img" />
</div>
