<!-- <carousel [isAnimated]="true"
  ><slide
    ><img src="assets/images/slider3.jpg" alt="slide" class="slider-img"
  /></slide>
  <slide
    ><img src="assets/images/slider1.jpg" alt="slide" class="slider-img"
  /></slide>
  <slide
    ><img
      src="assets/images/slider2.jpg"
      alt="slide"
      class="slider-img" /></slide
></carousel>
<section class="featured">
  <div class="d-flex justify-content-center pt-4">
    <h1>Welcome to the shop!</h1>
  </div>
</section> -->

<div class="hero-container">Premium outdoor gear and clothing</div>
