<div class="d-flex justify-content-center mt-5">
  <div class="col-3">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <h3 class="mb-3">Welcome back</h3>
      </div>

      <app-text-input
        [formControl]="loginForm.controls['email']"
        [label]="'Email Address'"
      ></app-text-input>
      <app-text-input
        [formControl]="loginForm.controls['password']"
        [label]="'Password'"
        [type]="'password'"
      ></app-text-input>
      <div class="d-grid">
        <button [disabled]="loginForm.invalid" class="btn-login" type="submit">
          Sign in
        </button>
      </div>
    </form>
    <div class="text-center mt-4">
      Not registered?
      <a class="link-signup" routerLink="/account/register">Sign up here</a>
    </div>
  </div>
</div>
