.btn-login {
  background-color: black;
  color: white;
  text-transform: uppercase;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;

  &:hover {
    background-color: #d7b4a8;
    cursor: pointer;
  }
}
