<div class="container" style="margin-top: 140px">
  <div *ngIf="(basketService.basketSource$ | async) === null">
    <p>There are no items in your shopping cart</p>
  </div>

  <ng-container *ngIf="basketService.basketSource$ | async as basket"
    ><div class="container">
      <div class="row">
        <app-basket-summary
          (addItem)="incrementQuantity($event)"
          (removeItem)="removeItem($event)"
        ></app-basket-summary>
      </div>
      <div class="row">
        <div class="col-6 offset-6">
          <app-order-totals></app-order-totals>
          <div class="d-grid">
            <a routerLink="/checkout" class="btn-checkout"
              >Proceed to Checkout</a
            >
          </div>
        </div>
      </div>
    </div></ng-container
  >
</div>
