.success-text {
  padding-left: 15px;
}

.spacer {
  height: 130px;
}

.btn-orders {
  border: 1px solid #626699;
  color: #fff;
  background-color: #626699;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 500;
  border-radius: 3px;

  &:hover {
    background-color: #7a7eb3;
    border: 1px solid #7a7eb3;
  }
}

.button-container {
  float: right;
}

.button-spacer {
  display: flex;
}
