<div class="container mt-5">
  <div class="row d-flex align-items-center">
    <div class="col-8 offset-2">
      <i class="fa fa-check-circle fa-3x" style="color: green"></i>

      <div class="success-text" style="display: inline-block">
        <h4>Thank you! Your order has been placed.</h4>
      </div>
    </div>

    <div class="col-8 offset-2 button-container">
      <button *ngIf="order" routerLink="/orders/{{order.id}}" class="btn-order">
        View order summary
      </button>
      <button routerLink="/orders" class="btn-orders">View your orders</button>
    </div>
  </div>
</div>
