<div class="container mt-5">
  <div class="d-flex align-items-center">
    <div>
      <i class="fa fa-check-circle fa-3x" style="color: green"></i>
    </div>
    <div class="success-text">
      <h4>
        Thank you! Your order has been placed. Order confirmation is #######.
      </h4>
    </div>
    <div class="flex-fill"></div>
    <div class="justify-content-right text-align-right button-container">
      <button routerLink="/orders" class="btn-orders">View your orders</button>
    </div>
  </div>

  <button routerLink="/orders/" class="btn btn-outline-success">
    View order
  </button>
</div>

<div class="spacer"></div>
