.success-text {
  padding-left: 15px;
  position: relative;
  bottom: 5px;
}

.spacer {
  height: 130px;
}

.btn-order {
  border: 1px solid #000;
  color: #fff;
  background-color: #000;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 500;
  margin-right: 8px;

  &:hover {
    background-color: #d7b4a8;
    border: 1px solid #d7b4a8;
  }
}

.btn-orders {
  border: 1px solid #000;
  color: #000;
  background-color: #fff;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 500;

  &:hover {
    background-color: #d7b4a8;
    border: 1px solid #d7b4a8;
    color: #fff;
  }
}

.button-container {
  margin-top: 30px;
  margin-bottom: 105px;
}

.button-spacer {
  display: flex;
}
