<div class="mt-4" *ngIf="checkoutForm" [formGroup]="checkoutForm">
  <div class="row text-align-center pt-3" formGroupName="deliveryForm">
    <div class="col-6 radio-group" *ngFor="let method of deliveryMethods">
      <input
        type="radio"
        id="{{ method.id }}"
        value="{{ method.id }}"
        formControlName="deliveryMethod"
        class="form-check-input"
      />
      <label for="{{ method.id }}" class="form-check-label ms-2 mb-3">
        <strong
          >{{ method.description }}
          <span *ngIf="method.price > 0"
            >- {{ method.price | currency }}</span
          ></strong
        >
        <br />
        <span class="label-description">{{ method.deliveryTime }}</span>
      </label>
    </div>
  </div>
</div>

<div class="d-flex justify-content-between flex-row mb-5 mt-3">
  <button class="btn-address" cdkStepperPrevious>
    <img
      src="../../../assets/images/arrow-left-circled.png"
      class="left-arrow"
    />
    Back to address
  </button>
  <button
    [disabled]="checkoutForm?.get('deliveryForm')?.invalid"
    class="btn-review"
    cdkStepperNext
  >
    Review Order
    <img
      src="../../../assets/images/arrow-right-circled.png"
      class="right-arrow"
    />
  </button>
</div>