<ng-container *ngIf="$any(bcService.breadcrumbs$ | async) as breadcrumbs">
  <section
    *ngIf="breadcrumbs[breadcrumbs.length - 1].label !== 'Home'"
    class="breadcrumb-container"
  >
    <div class="container">
      <div class="d-flex">
        <xng-breadcrumb [separator]="iconTemplate"
          ><ng-container *xngBreadcrumbItem="let breadcrumb">{{
            breadcrumb | titlecase
          }}</ng-container></xng-breadcrumb
        >
      </div>
    </div>
  </section>
</ng-container>
<ng-template #iconTemplate>
  <div>
    <img src="../../../assets/images/arrow-right.png" class="arrow-right" />
  </div>
</ng-template>
