<div class="container mt-5">
  <h2>Orders Summary</h2>
  <div class="row mt-3">
    <div class="col-12">
      <table class="table table-hover" style="cursor: pointer">
        <thead class="table-dark">
          <tr>
            <th class="fw-normal">Order Number</th>
            <th class="fw-normal">Date Placed</th>
            <th class="fw-normal">Total</th>
            <th class="fw-normal">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders" routerLink="/orders/{{ order.id }}">
            <th># {{ order.id }}</th>
            <td>{{ order.orderDate | date : "medium" }}</td>
            <td>{{ order.total | currency }}</td>
            <td>{{ order.status }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
