.left-col {
  padding-right: 40px;
}

.search-input {
  display: inline-block;
  border-radius: 4px;
  padding-right: 180px;
  margin-right: 20px;
}

.btn-search {
  padding-left: 15px;
  padding-right: 15px;
  width: 80px;
  margin-left: -95px;
  border-left: 1px solid lightgrey;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-radius: 0px 4px 4px 0px;
  color: white;
  background-color: #626699;
  font-weight: 500;
}

.btn-reset {
  margin-left: 10px;
  border: none;
  background: none;
  font-weight: 500;
  font-size: 0.9em;
}

.collapse-header {
  background-color: white;
  border: none;
}

.chevron-down {
  width: 12px;
  margin-right: 5px;
}

.brand-list {
  border: none;
}

.list-group-item {
  margin-left: 12px;
  font-size: 1.05em;
  margin-bottom: 3px;
  color: #9e9e9e;
  &:hover {
    color: #d7b4a8;
    font-weight: 400;
  }
}

.list-group-item.active {
  font-weight: 600;
}

.hr-spacer {
  height: 5px;
}

.types {
  margin-top: -8px;
}

.sort-container {
  margin-top: 12px;
}

.sort-label {
  margin-right: 10px;
}
.sort-menu {
  width: 60%;
  border: 1px solid lightgrey;
  border-radius: 4px;
  margin-right: 8px;
  padding-top: 3px;
  padding-bottom: 5px;
  padding-left: 3px;
}
