* {
  font-size: 18px;
}

.cart-no {
  position: absolute;
  min-height: 20px;
  min-width: 20px;
  border-radius: 50%;
  background: #d7b4a8;
  color: white;
  text-align: center;
  font-size: 0.7em;
  padding-top: 1px;
  top: -7px;
  right: 33px;
}

.nav-links-container {
  text-transform: uppercase;
}

.nav-link {
  margin-right: 45px;
  margin-left: 45px;
  display: inline;
}

.nav-link.active {
  color: #d7b4a8;
  border-bottom: 2px solid #d7b4a8;
  padding-bottom: 5px;
}

.nav-link:hover {
  color: #d7b4a8;
  border-bottom: 2px solid #d7b4a8;
  padding-bottom: 5px;
}

a {
  text-decoration: none;
  color: black;
}

.logo {
  cursor: pointer;
}

.cart-icon {
  width: 32px;
  margin-right: 40px;
}
