@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  font-family: "Manrope", sans-serif;
}

.cart-no {
  position: absolute;
  min-height: 20px;
  min-width: 20px;
  border-radius: 50%;
  background: #d7b4a8;
  color: white;
  text-align: center;
  top: -7px;
  right: 33px;
}

.nav-links-container {
  text-transform: uppercase;
}

.nav-link {
  margin-right: 45px;
  margin-left: 45px;
  display: inline;
}

.nav-links-container a {
  text-decoration: none;
  color: black;

  &.active {
    color: #d7b4a8;
  }

  &:hover {
    color: #d7b4a8;
    border-bottom: 2px solid #d7b4a8;
    padding-bottom: 5px;
  }
}

.logo {
  cursor: pointer;
}

.cart-icon {
  width: 32px;
  margin-right: 40px;
}
